@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.leaderboard-btn{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.username,.score {
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 15px;
    font-family: 'Roboto';
}
.username {
    width: 55%;
    color: rgba(31, 60, 103, 1);
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.score {
    width: 45%;
    background-color: rgba(31, 60, 103, 0.1);
    color: rgba(0, 0, 0, 0.4);
    background: #E9ECF0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 700;
}